{
  "presets": ["react", "env"],
  "plugins": [
    "transform-runtime",
    "syntax-object-rest-spread",
    [
      "import",
      { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }
    ]
  ]
}
